@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    font-family: ui-monospace;
  }
} */


@layer base {
  @font-face {
    font-family: 'Inter-Regular';
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
    /* font-weight: 400; */
    font-display: swap;
    font-style: normal;
  }
}

body {
  @apply h-full;
}

html {
  @apply h-full;
  @apply font-mono;
  background-color: rgba(223, 228, 235, 0.5)/*"#FAFAFA"*/;
  padding: 0;
}

@layer components {
  .transition-smooth {
    @apply transition duration-300 ease-in-out;
  }

}

#Tweets::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

.hideScroll0::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

.swal2-icon.swal2-info {
  border-color: theme('colors.prim2') !important;
  color: theme('colors.prim2') !important;
}

