@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: rgb(33, 37, 41);
  padding: 0;
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

#Tweets::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}


.oldhideScroll::-webkit-scrollbar {
  /* display: none; */
  /* -ms-overflow-style: none;  IE and Edge */
  /* width: 20px;  */
  scrollbar-color: rgb(33, 37, 41);     
  /* scrollbar-face-color: rgb(33, 37, 41); */
  scrollbar-shadow-color: rgb(33, 37, 41);
  scrollbar-highlight-color: rgb(33, 37, 41);
  scrollbar-3dlight-color: rgb(33, 37, 41);
  scrollbar-darkshadow-color: rgb(33, 37, 41);
  /* scrollbar-track-color: rgb(33, 37, 41); */
  scrollbar-arrow-color: rgb(33, 37, 41);

}

.hideScroll0::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.hideScroll0::-webkit-scrollbar-track {
  background: rgb(33, 37, 41);        /* color of the tracking area */
  border: 2px solid theme('colors.prim2');
  border-radius: 20px;
}
.hideScroll0::-webkit-scrollbar-thumb {
  background-color: theme('colors.prim2');    /* color of the scroll thumb */
  border-radius: 50% / 10%;       /* roundness of the scroll thumb */
  border: 4px solid theme('colors.back');
  /* border-bottom: 3px solid theme('colors.back'); */
  /* border: 3px solid orange;   */
  /* creates padding around scroll thumb */
}
/* 
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
